.scroll-top{
color:green;
direction:ltr;
letter-spacing:3px;
text-align:center;
text-shadow:2px 2px #ff0000;
text-decoration:blink;
font-size:200%;
font-family:"幼圆"
font-style:italic;
}
.scroll-middle{
text-align:center;
margin:0px;
padding:0px;
float:none;
}
.scroll-id{
float:right;
text-align:center;
}
.scroll-id li{
width:13px;
height:13px;
border:solid 1px #999;
margin-top:5px;
font-size:12px;
line-height:16px;
cursor:pointer;
list-style-type:none;
}
.scroll_number_out{
}
.scroll_number_over{
	background-color:#F96;
	color:#FFF;
}
